body {
    background-color: #A4D8FF;
}

.navbar .nav-link {
    color: #848484;
}

.navbar .nav-link:hover {
    color: #000000;
}

.navbar .nav-link.active {
    background-color: #D9D9D9;
    border-radius: 10px;
}

.present {
    background-color: #d1e7dd;
    color: #0f5132;
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: 600;
}

.absent {
    background-color: #f8d7da;
    color: #842029;
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: 600;
}